.link {
  display: inline-block;
  color: var(--cor-p1);
}

.link::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: currentColor;
}

.link:hover {
  color: var(--cor-0);
  transition: 0.2s ease-in-out;
}

.container {
  max-width: 1200px;
  box-sizing: border-box;
  padding-right: 20px;
  padding-left: 20px;
  margin-right: auto;
  margin-left: auto;
}

.botao.secundario:hover {
  background: var(--cor-9);
}

.botao.secundario {
  background: var(--cor-10);
  color: var(--cor-2);
  transition: ease-out 0.7s;
}

.botao {
  text-decoration: none;
  color: var(--cor-12);
  text-transform: uppercase;
  padding: 15px 30px;
  background-image: linear-gradient(to bottom, #ffbf00, #f2a50c);
  border-radius: 5px;
  display: inline-block;
  place-self: start;
  font-family: "Poppins";
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.5;
  max-width: max-content;
}

.botao:hover {
  background-image: linear-gradient(to bottom, #dca500, #c58d1e);
}

@media (max-width: 600px) {
  .botao {
    padding: 12px 16px;
    font-size: 1rem;
  }
}
