.introducao-bg {
  background: var(--cor-12);
  box-shadow: inset 0px -120px var(--cor-0);
}

.introducao-text span {
  color: var(--cor-p1);
}

.introducao-text {
  display: grid;
  grid-template-rows: auto;
  place-content: center start;
  font-family: Poppins;
  gap: 25px;
  padding-bottom: 80px;
}

.introducao img {
  object-fit: cover;
}

.introducao {
  color: var(--cor-0);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  gap: 40px;
}

@media (max-width: 800px) {
  .introducao-bg {
    background: var(--cor-11);
    padding-top: 40px;
    box-shadow: inset 0px -60px var(--cor-0);
  }

  .introducao img {
    height: 300px;
    width: 100%;
  }

  .introducao {
    grid-template-columns: 1fr;
    gap: 32px;
  }

  .introducao-text {
    gap: 15px;
    padding-bottom: 0px;
  }
}
